#map{
	height: 100vh;
	width: 75%;
	float: left;
}
#cities-container{
	width: 25%;
	float: left;
}
.city-list{
	position: absolute;
	right: 50px;
	background-color: white;
	opacity: .8;
}
th, td{
	border: 1px solid black;
	text-align: center;
}
.city-name{
	text-decoration: underline;
	cursor: pointer;
	color: blue;
}

/* .active{
background-color: blue;
} */